.pic-choice {
	width: 20%;
	height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(74, 74, 77, 0.1);
}

.choicepic {
    height: 100%;
    object-fit: cover;
}