.disclaimer-section {
    text-align: center;
    padding: 30px 15px;
    background: #FCA307;
}

.disclaimer-chunk {
    margin: 7px 0;
}

.disclaimer-chunk-main {
    text-decoration: underline;
    font-size: 20px;
    margin-top: 15px;
}

.disclaimer-chunk-sub {
    margin-top: 10px;
    font-size: 18px;
}

.disclaimer-chunk-sub-list {
    width: fit-content;
    display: inline-block;
    margin: 5px auto;
    padding-left: 15px;
    text-align: left;
    list-style-position: inside;
}