.option {
    width: 110px;
}

.option-image {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.option-image.active {
    padding: 2px;
}

.option-image img {
    height: 100%;
    object-fit: cover;
}