.options {
    background: #2c70f6;
    padding: 30px 0
}

.instructions {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}

.options-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.options-pics-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.option {
    width: Calc(100% / 3);
    display: flex;
    justify-content: center;
}

.option-image img {
    width: 100%;
}


.device-labels {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 10px;
}

.device-label {
    width: 100%;
    text-align: center;
}